body{
  background-color: #98e0e3;
}
html {
  scroll-behavior: smooth;
}
h1{
  text-align: center;
  padding: 10px;
}
.row{
  text-align: center;
}
#info{
  border-style: dashed;
  padding: 10px;
  box-shadow:2px 2px 5px black;
}

#buttons:hover{
    box-shadow:2px 2px 5px black;
}
.qoute{
  font-size: 17px;
}
